<form action="/users" method="post">
  Username: <input type="text" name="username" />
  Email: <input type="text" name="email" id="" />
  Password: <input type="text" name="password" id="" />
  Password Confirmation: <input type="text" name="password_confirmation" id="" />
  <input type="submit" value="Register" />
</form>