<form action="/users" method="post">
  Username: <input type="text" name="username" />
  Email: <input type="text" name="email" />
  Password: <input type="password" name="password" />
  Password Confirmation: <input type="password" name="password_confirmation" />
  <input class="button alternate" type="submit" value="Register" />
</form>
