/*body {
  height: 100%;
}*/

input#start_game_button {
  position: relative;
  left: 50%;
  font: 150% sans-serif;
  margin-left: -68px;
  opacity: 0.8;
  color: white;
  background-color: #2d2d2e;
  border: none;
}

h1 .leaderboard {
  position: relative;
  left: 50%;
  margin-left: -25%;
}

article#leaderboard {
  font-size: 120%;
  position: relative;
  text-align: center;
  color: white;
  width: 50%;
  left: 50%;
  margin-left: -330px;
  top: 75%;
  background-color: #2d2d2e;
  background: none;
}
ul#time {
  position: relative;
  width: 90%;
  left: 50%;
  margin-left: -278px;
  list-style-type: none;
  text-align: center;
  font-size: 130%;
}
