table {
  position: relative;
  left: 32%;
  border: 5px solid black;
}

table input {
  width: 45px;
  height: 45px;
  text-align: center;
  border: 1px solid black;
  font-size: 25px;
  margin-top: 1px;
  margin-bottom: 1px;
  margin-right: 1px;
  margin-left: 0.8px;
}
