table#sudoku {
  position: relative;
  top:20%;
  left: 50%;
  transform: translate(-50%, -50%);
   -webkit-transform: translate(-50%, -50%);
  border: 3px solid grey;
  margin-bottom: 5%;
}

table input {
  width: 47px;
  height: 47px;
  text-align: center;
  border: 1px solid black;
  border-right: 2px solid black;
  border-bottom: 2px solid black;
  font-size: 25px;
  color: black;
  margin-top: 0.5px;
  margin-bottom: 0.5px;
  margin-right: 0.5px;
  margin-left: 1px;
  background-color: lightgrey;
}

.alternate {
  background-color: white;
}

h2 {
  font-size: 300%;
}

.buttons {
  display: inline-block;
  font-size: 175%;
  border: 2px solid white;
  background-color: black;
  border-radius: 3px;
  padding: 10px;
  margin-left: 10px;
  margin-right: 10px;
}

