#container {
  position: relative;
  left: 50%;
  margin-left: -246px;
  margin-bottom: 5%;
  border: 3px solid black;
}

table input {
  width: 47px;
  height: 47px;
  text-align: center;
  border: 1px solid black;
  border-right: 2px solid black;
  border-bottom: 2px solid black;
  font-size: 25px;
  color: black;
  margin-top: 0.5px;
  margin-bottom: 0.5px;
  margin-right: 0.5px;
  margin-left: 1px;
  background-color: lightgrey;
}
.alternate {
  background-color: white;
}

body h2 {
  position: relative;
  margin-top: -5%;
  font-size: 300%;
  text-align: center;
}

input#finish_game {
  font-size: 200%;
  background: none;
  border: none;
  position: relative;
  top: 85%;
  left: 50%;
  margin-left: -50px;
}

input#autofill {
  font-size: 130%;
  background: none;
  border: none;
}
