<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8" />
  <title>Sudoku</title>
  <link rel="stylesheet" href="css/sudoku.css">
</head>

<body>
  <h2>Have fun</h2>
  <table id="sudoku"></table>
  <input type="submit" class="buttons generate_sudoku" value="Generate Puzzle" />
  <input type="submit" class="buttons auto_solve" value="Auto Solve" />
  <input type="submit" class="buttons auto_fill" value="Auto Fill" />
  <input type="submit" class="buttons finish_game" value="Finish" />
</body>

</html>
