<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8" />
    <title>Sudoku</title>
    <link rel="stylesheet" href="../public/css/normalize.css">
    <link rel="stylesheet" href="../public/css/sudoku.css">
</head>
<body>
    <table id="container"></table>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.4/jquery.min.js"></script>
    <script src="../public/javascript/sudoku.js"></script>
    <script src="../public/javascript/application.js"></script>
</body>
</html>
