<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8" />
    <title>Sudoku</title>
    <link rel="stylesheet" href="css/normalize.css">
    <link rel="stylesheet" href="css/sudoku.css">
</head>
<body>
  <h1>Have fun</h1>
  <input type="submit" id="finish_game" value="Finish" />
  <input type="submit" id="autofill" value="Auto Fill" />
  <table id="container"></table>
</body>
</html>
