<header>
  <a id="logo" href="/">Leaderboard</a>
  <% if current_user %>
    <p>Welcome, <%= @current_user.username %>!</p>
      <form action="/sessions" method="post">
        <input name="_method" type="hidden" value="delete"/>
        <input class="button" type="submit" value="Log out"/>
      </form>
  <% else %>
    <a class="button" href="/users/new">Register</a>
    <a class="button" href="/sessions/new">Log in</a>
  <% end %>
</header>
