<head>
    <title>Sudoku</title>
</head>

<body>
    <input type="submit" id="start_game_button" value="Start Game" />
    <ul id="time">
        <% @records.each do |each_record| %>
        <% user = User.get(each_record.user_id) %>
            <li>
                User: <%= user.username %>
                Time: <%= each_record.time %>
            </li>
            <% end %>
    </ul>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.4/jquery.min.js"></script>
    <script type="text/javascript" src="javascript/application.js"></script>
</body>
