<head>
    <title>Sudoku</title>
</head>

<body>
    <% if current_user %>
      <input type="submit" id="start_game_button" value="Start Game" />
    <% end %>
    <h1>Leaderboard</h1>
    <ul id="time">
        <% @records.each do |each_record| %>
            <li>
                User: <%= each_record.user.username %>
                Time: <%= time_to_minutes(each_record.time) %>
            </li>
            <% end %>
    </ul>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.4/jquery.min.js"></script>
    <script type="text/javascript" src="javascript/application.js"></script>
</body>
