<head>
  <title>Sudoku</title>
  <link href="css/normalize.css" rel="stylesheet">
  <link href="css/homepage.css" rel="stylesheet">
</head>

<body>
  <article id="leaderboard">
    <h1>Leaderboard</h1>
    <ul id="time">
      <% @records.each do |each_record| %>
      <li>
        User:
        <%= each_record.user.username %>
        -----
        <%= time_to_minutes(each_record.time) %>
      </li>
      <% end %>
    </ul>
  </article>

  <% if current_user %>
  <input id="start_game_button" type="submit" value="Start Game"/>
  <% end %>

  <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.4/jquery.min.js"></script>
  <script src="javascript/application.js" type="text/javascript"></script>
</body>
