<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8" />
  <title>Sudoku</title>
</head>
<body>
  <h1 class="leaderboard">Leaderboard</h1>
    <ul class="records">
      <% @records.each do |each_record| %>
        <li class="eachrecord">
          <%= each_record.user.username %>
          &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
          &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
          <%= time_to_minutes(each_record.time) %>
        </li>
      <% end %>
    </ul>

  <% if current_user %>
  <input id="start_game_button" type="submit" value="Start Game"/>
  <% end %>

</body>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.4/jquery.min.js"></script>
<script src="javascript/application.js" type="text/javascript"></script>
</html>


<body>



</body>
