<!DOCTYPE html>
<html>

<head>
  <title>Results</title>
  <link rel="stylesheet" href="css/results.css">
</head>

<body>
  <section class="results">
    <h1>Congratulations! You did it in</h1>
    <h2><%= @results %></h2>
  </section>
</body>
</html>
