<!DOCTYPE html>
<html>

<head>
  <title>Results</title>
  <link rel="stylesheet" href="css/results.css">
</head>

<body>
  <section id="results">
    <h1>Results</h1>
    <h3>Congratulations!! You have done it in</h3>
    <h2>
      <%= @results %>
    </h2>
  </section>

</body>

</html>
